img {
	user-select: none;
}


body {
  background: url("img/background.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
#footer {
  background-color:black;
}
#banner {
	margin-top: 100px;
}
#ipad {
	margin-bottom: 100px;
	margin-top: -47px;
}
#connection {
	color: lightseagreen;
}
#email {
	color: #ff4828;
}
#giveEmail{
	height: 38px;
}
.PS {
	margin-bottom: -5px;
}
#textInfooter{
	color: white;
}
#info{
	background-color: white;
}