h1 {
    text-align: center;
}

#blue {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: rgb(127, 255, 249);
    display: inline-block;
    margin-right: 15%;
}
#orange {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: orange;
    display: inline-block;
  }
#red {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: red;
    display: inline-block;
    margin-left: 15%;
  }
input {
    text-align: center;
}