img {
	user-select: none;
}

nav a {
	color: black;
	font-size: 18px;
	margin-right: 10px;
}

#collapsibleNavbar {
	margin-left:  185px;
}

#carouselExampleSlidesOnly {
	margin-top: 150px;
	margin-bottom: 150px;
}

#im1_g img {
	height: 360px;
	width: 100%;
	margin-bottom: 45px;
	margin-left: 100px;
}
#im2_g img {
    height: 360px;
	width: 100%;
	margin-bottom: 45px;
	margin-left: 100px;
}

#carouselExampleSlidesOnly img {
	height: 530px;
}

body {
  background: url("img/background.jpg");
  background-repeat: no-repeat;
}
#footer {
  background-color:black;
}